.stm_nav {
    background-color: white;
    .container {
        padding: 30px 45px;
        margin: 0 auto;
        display: flex;
        flex-direction: row;
        align-items: center;
    }
    .right_nav {
        margin-left: 110px;
        width: 100%;
        display: flex;
        align-items: center;
        flex-direction: row;

        .search_form {
            border: 1px solid #efefef;
            border-radius: 8px;
            padding: 12px 24px;
            width: 100%;
            display: flex;
            align-items: center;

            input {
                border: 0 none;
                width: 100%;
            }
            button {
                background-color: transparent;
                border: 0 none;
            }
        }
    }
    .bell {
        margin-left: 80px;
    }
}